.box .headss section:nth-of-type(3) {
    display: none;
}

.box .nav_sub{
    display: none;
    background-color: #eee;
}
.box .nav_down{
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #ffffff;
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    align-items: center;
}
.box .nav_down section:nth-child(1){
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .nav_down section:nth-child(2){
    width: 270px;
    display: flex;
}
.box .nav_down section:nth-child(2) .toggle.checkbox{
    width: 65px;height: 30px;
    margin-left: 17px;
    background-color: coral;
}
.box .nav_down section:nth-child(2) .toggle.checkbox>img{
   width: 100%;
   height: 100%;
}
.box .list {
    flex: 1;
    width: 80%;
    height: 500px;
    /* background-color: blueviolet; */
    font-size: 55px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.iconfont.iSize{
    font-size: 22px;
}
.box .list dl {
    width: 300px;
    height: 400px;
    /* background-color: darkblue; */
    margin-top: 3px;
    text-align: center;
    transition: all .3s;
}

.box .list dl:hover {
    box-shadow: 3px 3px 3px 3px slategray;
    transform: translateY(-20px);
}

.box .list dl dt {
    width: 100%;
    height: 80%;
    background-color: darkgoldenrod;
}

.box .list dl dt img {
    width: 100%;
    height: 100%;
}

.box .list dl dd {
    width: 100%;
    height: 27px;
    text-align: center;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
}

.box .list dl dd:nth-of-type(1) {
    font-weight: bold;
    height: 40px;
    /* background-color: darkkhaki; */
}

.box .list dl dd:nth-of-type(2) {
    /* background-color: red; */
}

a {
    text-decoration: none;
    color: skyblue;
    cursor: pointer;
}

.item {
    color: black;
    font-size: 18px;
    transition: all .3s;
}
.item1{
    color: black;
}
.item:nth-child(1),
.item1:nth-child(1)
{
    color: #bbb;
}

button {
    cursor: pointer;
}

img {
    cursor: pointer;
    transition: all .3s;
}

.active {
    font-size: 19px;
   color: chocolate;
}
.active2 {
   color: chocolate;
    border-bottom: 2px solid chocolate;
}
/* 登录 */
#formParentTop {
    position: fixed;
    width: 1400px;
    height: 720px;
    background: url(../img/bigbg1.jpg) no-repeat 100% 100%;
    top: 17%;
    left: 8%;
    border-radius: 15px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}

#formSubRegis {
    display: flex;
    width: 700px;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 350px;
}
#username-error,#tels-error,#pws1-error{
    margin-top: 20px;
    width: 210px;
    margin-left: 20px;
   
}
/* #formSubRegis #userP label:nth-of-type(1){
    color: #ffffff;
    width: 100%;
    height: 20px;
   
    margin-left: 26px;
    border-bottom: 2px solid #bbb;
    background-color: chartreuse;
} */
#formSubRegis p label.error{
   color: cyan;
}
#username,#tels,#pws1{
    width: 320px;
    height: 50px;
    border-radius: 12px;
    margin-top: 20px;
}

#pws1 {
   
}

#btnSub ,#btnRegss{
    background-color: darkgoldenrod;
    width: 520px;
    height: 50px;
    border-radius: 8px;
    opacity: 0.8;
    color: #ffffff;
    margin-top: 27px;
    margin-left: -110px;
    font-size: 20px;
}
#btnRegss{
    position: absolute;
    left: 144px;
    bottom: 77px;
    display: none;
    
}